.btn-often{
    border-radius: 25px;
    background-color:$arancionesalmone;
    color: grey;
    font-weight: bold ;
}
.badge-pill-custom{
    border-radius: 25px;
    background-color:$blupastello;
    color: #fff;
    font-weight: bold ;
    padding: 7px;
}