a {
    color:inherit;
    &:hover{
        text-decoration: none;
        color:inherit;
    }
}

body {
    color: $bluscuropastello;
}
input{
    outline: none;
    width: 100%;
}

.no-box-shadow {
    box-shadow: none;
}


h2{
    color: $arancionesalmone;
}
h1{
    font-weight: bold;
    text-align: center;
}